*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
   font-family: "Battambang", system-ui;
  font-weight: 400;
  font-style: normal;
} */

/* Custom CSS to create the specific gold banner shape */